// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  background-color: #191919;
  background-image: url('../img/about-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 13vw;
  padding-bottom: 13.4vw;

  .main__section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    text-align: center;
    position: relative;
    flex-basis: 100%;

    &:before {
      content: "";
      position: absolute;
      top: -200px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../img/red-shadow.png');
      background-repeat: no-repeat;
      width: 704px;
      height: 453px;
    }
  }

  &__title {
    color: $color-main;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 12px;
    position: relative;
    z-index: 2;

    @media (max-width: $screen-md) {
      font-size: 42px;
    }
  }

  &__sub-title {
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;

    @media (max-width: $screen-md) {
      font-size: 18px;
    }
  }

  &__text {
    color: #fff;
    max-width: 945px;
    min-height: 216px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    border-radius: 0 0 40px;
    border-left: 2px solid #474950;
    border-right: 2px solid #474950;
    border-bottom: 2px solid #474950;
    padding: 46px 120px;
    margin: 0 auto 100px auto;
    position: relative;

    @media (max-width: $screen-sm) {
      min-height: inherit;
      padding: 30px 15px;
    }
  }

  &__text-dek-wrap {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;

    &:before {
      border-radius: 3px 0 0;
      display: block;
      content: "";
      flex: 2 0 0;
      height: 1px;
      border-top: 2px solid #474950;
    }

    &:after {
      display: block;
      content: "";
      flex: 2 0 0;
      height: 1px;
      border-top: 2px solid #474950;
    }
  }

  &__text-dek {
    flex: 0 0 108px;
    margin-top: -20px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39' height='36' viewBox='0 0 39 36'%3E%3Cdefs%3E%3Cpath id='1utia' d='M955.196 1271.005c-2.477 0-4.704.524-6.62 1.556-1.902 1.026-3.524 2.498-4.82 4.375-1.26 1.826-2.215 4.03-2.837 6.55-.607 2.46-.914 5.244-.914 8.279v13.644c0 .875.715 1.586 1.597 1.586h13.594c.882 0 1.597-.71 1.597-1.586v-13.644c0-.877-.715-1.588-1.597-1.588h-5.099c.238-6.33 1.95-9.536 5.099-9.536.882 0 1.597-.711 1.597-1.587v-6.463c0-.876-.715-1.586-1.597-1.586zm22.204 9.636c.883 0 1.598-.711 1.598-1.587v-6.463c0-.876-.715-1.586-1.598-1.586-2.477 0-4.703.524-6.62 1.556-1.901 1.026-3.524 2.498-4.82 4.375-1.261 1.826-2.216 4.03-2.838 6.552-.605 2.459-.913 5.243-.913 8.277v13.644c0 .876.715 1.586 1.598 1.586h13.592c.882 0 1.598-.71 1.598-1.586v-13.644c0-.877-.716-1.588-1.598-1.588h-5.025c.234-6.33 1.921-9.536 5.026-9.536z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-940 -1271)'%3E%3Cuse fill='%23e22c3d' xlink:href='%231utia'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &__text-author {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    background-color: #1a1a1a;
    width: 225px;

    span {
      color: #717171;
      font-weight: 400;
    }
  }
}
