// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    // height: 2.125em;
    padding: 20px 48px;
    margin: 0;
    line-height: $line-height;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 30px;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: #000;
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }

    &.icon {
      background-position: left 25px center;
      background-repeat: no-repeat;
      &--user {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13' height='17' viewBox='0 0 13 17'%3E%3Cdefs%3E%3Cpath id='n2waa' d='M419.059 3068.156c0-2.296.505-4.157 3.44-4.157 2.936 0 3.442 1.861 3.442 4.157 0 2.296-1.541 4.157-3.441 4.157s-3.441-1.86-3.441-4.157zM416 3078.661c-.001-.04 0-.14 0 0zm12.999.11c0-.267.002-.04 0 0zm0 0v.31s-.957 1.919-6.5 1.919c-5.542 0-6.498-1.92-6.498-1.92v-.419c0 .036.003.02.009-.298.073-3.894.63-5.017 4.605-5.73 0 0 .566.716 1.885.716 1.318 0 1.884-.717 1.884-.717 4.019.722 4.544 1.861 4.608 5.861.004.256.006.3.007.277z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-416 -3064)'%3E%3Cuse fill='%23e74f5d' xlink:href='%23n2waa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      &--phone {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='x7bua' d='M720.639 3077.66l-2.47-2.478c-.493-.49-1.307-.476-1.816.035l-1.245 1.247-.245-.136c-.786-.437-1.862-1.036-2.994-2.171-1.135-1.139-1.732-2.219-2.17-3.008l-.133-.24.835-.836.41-.413c.51-.511.525-1.329.034-1.82l-2.47-2.478c-.491-.493-1.306-.477-1.816.033l-.696.703.019.02a4.024 4.024 0 0 0-.574 1.014c-.134.353-.217.69-.255 1.029-.326 2.711.91 5.19 4.263 8.552 4.635 4.648 8.37 4.298 8.532 4.28a4.152 4.152 0 0 0 2.037-.832l.016.014.705-.693c.509-.512.523-1.328.033-1.822z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-705 -3065)'%3E%3Cuse fill='%23e22c3d' xlink:href='%23x7bua'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      &--email {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='13' viewBox='0 0 18 13'%3E%3Cdefs%3E%3Cpath id='jz2wa' d='M1005 3075.1l2.227-1.971 6.364 5.517c-.231.219-.543.353-.886.353h-15.41c-.345 0-.657-.134-.889-.353l6.367-5.517zm8.593-8.748L1005 3073.8l-8.591-7.446c.231-.22.543-.355.885-.355h15.411c.346 0 .657.134.888.353zm-17.593.789l6.214 5.461-6.214 5.338zm11.786 5.461l6.214-5.465v10.803z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-996 -3066)'%3E%3Cuse fill='%23e22c3d' xlink:href='%23jz2wa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        padding: 20px 48px 20px 52px;
      }
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
