// В этом файле должны быть стили для БЭМ-блока fast-cont, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fast-cont {

  $block-name:                &; // #{$block-name}__element

  &__item {
    display: inline-block;
    &:last-child {
      margin-left: 30px;
    }
  }

  &__phone-link {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }

  &__call-link {
    color: #3960f4;
    font-size: 14px;
    font-weight: 400;
  }

}
