// В этом файле должны быть стили для БЭМ-блока work, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.work {

  $block-name:                &; // #{$block-name}__element

  padding-top: 4.5vw;
  padding-bottom: 3vw;
  position: relative;

  &__header {
    @media (min-width: $screen-xl) {
      max-width: 855px;
      margin: auto;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 52px;

    @media (max-width: $screen-sm) {
      font-size: 24px;
    }

    span {
      color: $color-main;
    }
  }

  &__cards-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.2vw;
    border: 1px solid #c7c7c7;
    border-right: none;
  }

  &__card {
    // border-radius: 2px 0 0;
    height: 343px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    margin-bottom: -1px;
    flex-basis: 100%;

    @media (min-width: $screen-xl) {
      flex-basis: 33.3333%;
    }

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
    }
  }

  &__card-img {

    flex-grow: 1;
    overflow: hidden;

    img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
    }
  }

  &__card-title {
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px 15px 40px 15px;
  }

  &__request {

  }

  &__request-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__form {
    @include row;
  }

  &__form-field {
    @include col();
    @include col(xl, 3);
    margin: 0 0 20px 0;

    .btn {
      padding: 0 15px;
      min-width: 270px;
      height: 64px;
      line-height: 60px;
    }

    @media (max-width: $screen-sm) {
      .btn {
        min-width: 100%;
      }
    }
  }

  .field-actions {
    @include col();
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__text {
      flex-grow: 1;
      color: #999999;
    }

    .field-checkbox__name-text {
      color: #999;

      a {
        color: #999;
        text-decoration: none;
      }
    }
  }
}
