// В этом файле должны быть стили для БЭМ-блока okdesk, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.okdesk {

  $block-name:                &; // #{$block-name}__element

  background-color: #191919;
  background-image: url('../img/okdesk-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 4.8vw;
  padding-bottom: 4.8vw;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__body {
    flex-basis: 56%;

    @media (max-width: $screen-xl) {
      flex-basis: 100%;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 87px;

    @media (max-width: $screen-sm) {
      font-size: 22px;
      margin-bottom: 35px;
    }

    span {
      color: #43be5d;
    }
  }

  &__list {

  }

  &__list-item {
    box-shadow: 0 0 46px 3px rgba(67, 190, 93, 0.23);
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid #3ca051;
    min-height: 60px;
    max-width: 476px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
      padding: 10px 15px;
      min-height: inherit;
    }

    @media (max-width: $screen-xl) {
      max-width: none;
    }
  }

  &__image {
    flex-basis: 44%;

    @media (max-width: $screen-xl) {
      display: none;
    }

    img {
      display: block;
      margin-bottom: 30px;
    }
  }

}
